# npm 国内镜像配置
registry=https://registry.npmmirror.com

# 其他可选镜像源
# 淘宝镜像: https://registry.npmmirror.com
# 腾讯镜像: https://mirrors.cloud.tencent.com/npm/
# 华为镜像: https://mirrors.huaweicloud.com/repository/npm/

# 二进制包镜像
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
puppeteer_download_host=https://npmmirror.com/mirrors
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
electron_mirror=https://npmmirror.com/mirrors/electron/
sqlite_binary_host=https://npmmirror.com/mirrors/sqlite3/
